@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(255, 235, 205);
    font-family: 'Montserrat';
    display: grid;
    place-items: center;
    margin: 0;
    min-height: 50vh;
}

#sysMsg {
  opacity: 1;
  transition: opacity 0.5s ease; /* Controls the speed and feel */
}

#sysMsg.hidden {
  opacity: 0;
}

.checkbox{
  color: rgb(255, 175, 55);
  accent-color: rgb(165, 111, 30);
}

.checkboxtext {
  display: inline-flex;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(206, 179, 135);
  padding: 5px;
  border-radius: 4px;
}

.delBut {
  float: right;
  color: rgb(0, 0, 0);
  font-size: 12px;
  background-color: rgb(206, 179, 135);
  padding: 5px;
  border-radius: 100px;
  text-align: center;
}



#textBox{
  width: 300px; 
  height: 40px; 
  background-color: #c7a8a8;
  border: 1px solid rgb(209,213,219);
  border-radius: .3rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 550;
  text-align: left;


}

button {
  background-color: #e9d2d2;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding-left: 1rem;
}

button:hover {
  background-color: rgb(145, 183, 186);
}
button:active{
    background-color: rgb(113, 97, 97);

}

